#about{
    background-image: url('./svg/bg.png');
    margin-top: 40px;
}
.about--details{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 30px 24px 0px;
}
.about--text{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.about--text p{
    width: 80%;
    font-size: 1.2vw;
    color: gray;
    user-select: none;
}
.about--text span{
    color: var(--accent-color);
}


.about--skills{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}
.about--text{
    width: 50%;
}
.about--skills-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@media (max-width: 1405px) {
    .about--text p{
        font-size: 16px;
        width:80%;
    }
    .about--skills{
        width: 30%;
    }
    .about--text{
        width: 70%;
        margin-left: 0px;
        margin-right: 12px;
    }
    .about--text p{
        color: var(--primary-color);
    }
  }
  @media (max-width: 695px){

    #about{
        background-image: none;
        border: none;
        padding: 0;
        margin: 0;
    }
    .about--text p{
        width: 100%;
    }
     .about--details{
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    .about--text{
        width: 100%;
        padding-top: 42px;
        text-align: center;
    }
    .about--text p{
        font-size: 16px;
        width:100%;
    }
    .about--skills{
        margin-top: 80px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;   
    }
    .about--skills-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .display-on-mobile{
        display: none;
    }
  }