.home--header{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 40px;
    background: #00000000;
}
.home--3dframe{
    height: 70vh;
    padding-top: 40px;
}
.home--text{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home--text-slogan{
    display: flex;
    justify-content: center;
    color: #ffffff9f;
    gap: 90%;
}
.home--text-slogan p{
    text-align: center;
}
.home--text-posation{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 6px;
    font-size: 40px;
    letter-spacing: 10px;
}


/* responsive */
@media (max-width: 1406px) {
    .home{
        width: 100%;
    }
    .home--text-posation{
        width: 100%;
        font-size: 24px;
    }
    .home--text{
        width: 100%;
        margin: 0px;
        margin-top: 0px;
    }
    .home--header{
        margin-top: 50px;
    }
}


@media (max-width: 690px){
    .home{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    .home--3dframe{
        width: 100%;
        margin: 0;
        overflow: visible;
    }
    .home--text{
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
    }
    .home--text-slogan{
        display: flex;
        gap: 80px;
        justify-content: center;
        color: #ffffff9f;
    }
    .home--text-posation{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        text-align: center;
        padding: 6px;
        font-size: 16px;
        letter-spacing: 10px;
        background-color: var(--bg-color);
        padding: 16px;

    }
    
}
