.contact{
    width: 100%;
    margin-top: 50px;
}
.contact--container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact--header{
    font-size: 18px;
    margin: 0 40px ;
}
.contact--form{
    width: 50%;

}
.contact--buttons{
    width: 50%;
    margin: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
}

@media (max-width:770px) {
    .contact{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact--container{
        flex-direction:column ;
    }
    .contact--form{
        width: 100%;
        
    
    }
  }
  @media (max-width:650px){
    .contact{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    .contact--header{
        width:90%;
        font-size: 14px;
        margin: 0;
        padding: 0;
    }
    .contact--form{
        width: 100%;
        display: flex;
        justify-content: center;

    }
    .contact--buttons{
        width: 90%;
    }
    .contact footer{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 12px;
    }
    .contact footer p{
        font-size: 10px;
        white-space: nowrap;
        display: flex;
        padding: 0px;
        margin: 0px;
    }
    .contact--buttons{
        border-radius: 10px;
    }
  }
  