
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    z-index: 1;
    width: 100%;
    margin: 0;
}

.header--nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 40px 0;
}
.header--nav ul{
    display: flex;
    gap: 24px;
    transition: color 0.3s;
    text-align: center;
}
.header--logo{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header--logo img{
    height: 50px;
    cursor: pointer;
    z-index: 10;
}
.header--download-btn button{
    cursor: pointer;
    background: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 3px;
    padding: 7px 16px;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    transition: 0.5s;
  }
  .header--download-btn button:hover{
    background: var(--accent-color);
    border: 1px solid var(--accent-color);
    scale: 0.95;
  }

@media (max-width: 750px){
    .header--nav{
        display: none;
    }
    .header{
        flex-direction: column;
    }
    .header--download-btn{
        margin-top: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header--logo{
        margin-top: 12px;
    }
}

@media (max-width: 1000px){
    .header{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .header--download-btn{
        margin-top: 12px;
    }
}