.footer p{
    color: #808080;
    margin: 24px 0;
}
.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #808080;
}
@media (max-width:650px){
    .footer{
        display: none;
    }
  }